.fondoIndex{
    background-color: black;  
}

.fondoSobrenosotros{
    background-color: black;
}

.fondoNoticias{
    background-color: black;
}

.fondoContacto{
    background-color: black;
}

.fondoPerfil{
    background-color: black;
    
}