.fondoIndex{
    background-color: black;
    
}

.fondoSobrenosotros{
    background-color: black;
    height: 160vh;
}

.fondoNoticias{
    background-color: black;
    height: 160vh;
}

.fondoContacto{
    background-color: black;
    height: 160vh;
}

.fondoPerfil{
    background-color: black;
}