footer{
    background-color: black;
    opacity: 90%;
    bottom: 0;
    left: 0;
    height: 4rem;
    margin-top: auto;
    .alinear{
        text-align: center;
        font-size: 40px;
        .instagram{
            font-size: 40px;
            &:hover{
                color: #205c9d;
            }
        }
        .facebook{
            font-size: 40px;
            &:hover{
                color: #5374ac;
            }
        }
        .whatsapp{
            font-size: 40px;
            &:hover{
                color: #59b15e;
            }
        }
    }
}

