.colorNav{
        background-color: black;
        opacity: 90%;
        .dropdown-menu{
            background-color: black !important;
        }
        .perfil{
            &:hover{
                color: #2a6be4;
            }
        }
    }





