/* Como los dos estan a la misma altura*/
.testoprueba{
    font-family: $tipografia-principal;
}

.tituloBcinemaContacto{
    display: $contenedor-flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
}
.textoBcinemaContacto{
    display: $contenedor-flex;
    flex-direction: column;
    text-align: justify;
    align-items: center;
    justify-content: center;
    
}

@media screen and (max-width:510px){
    .mapa{
        width:320px;
        height:200px;
        padding: 1rem;
        
    }
    
}
@media screen and (max-width:314px){
    .mapa{
        display: none;
        
    }
    
}