.noticias_contenedor{
    display: $contenedor-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .contenedor_principal__foto{
        width: 30%;
        height: auto;
        .contenedor__section1__fotos{
            @include flexible(row,justify,center);
            width: 100%;
            height: 100%;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        
        }

    }
}


@media screen and (max-width:922px){
.contenedor_principal__fotos{
display: $contenedor-flex;
align-items: center;
width: 70%;
}
}







