.tituloBcinemaContacto{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
}
.textoBcinemaContacto{
    display: flex;
    text-align: justify;
    align-items: center;
    justify-content: center;
    
}