.contenedortextoperfil{
    display: $contenedor-flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    .contenedortextosocial{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        text-align: center;
        align-items: center;
        
    }
}

.contenedorimagenperfil{
    height: 50%;
    width: auto;
    .imagenperfil{
        height: 100%;
        width: 100%;
        object-fit:cover ;
        &:hover{
            transform: scale(1.1);
        }
    }
}

@media screen and (max-width:767px){
    .contenedortextoinicial{
        margin-top:2%;
    }
}

