
.main{
    .galeria{
        width: 100%;
    }
    .carousel-item{
        height: 70vh;
        img{  
            height: 100%;   
            object-fit: cover;
        }
    }
    .nav__proximamente{
        opacity: 90%;
        .nav__boton__proximamente{
            color: $color-primario;
            text-decoration: none;
            :hover{
                transform: scale(1.1);
            }
        }
        
    }
    .contenedor__foto__grande{
        display: flex;
        justify-content: center;
        .foto__grande{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            :hover{
                transform: scale(1.1);
                
            }
        }
    }
    .contenedor__foto__prueba{
        display: flex;
        align-items: center;
        justify-content: center;
        .foto__proximamente__chica{
            display: flex;
            align-items: center;
            width: 12rem;
            padding: 5%;
            :hover{
                transform: scale(1.1);
            }
        
        }
    }
    
    .sectionFondo{
        background-color: $color-primario;
        padding-top: 2%;
        .card {
            position: relative;
            display: flex;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: $color-primario!important;
            background-clip: border-box;
            border: 1px solid rgba(0, 0, 0, 0.125);
            border-radius: 0.25rem;
            :hover{ 
                transform: scale(1.1);
            
            }
          }
    
    }



}


@media screen and (max-width:600px){
    

    .foto__proximamente__chica{
        width: 24rem;
        
    }
}

